.practice-card {
  background-color: white;
  border: 1px 1px 1px;
  filter: drop-shadow(5px 5px 5px #0000006a);
  padding: 48px 40px;
  gap: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.practice-line {
  background-color: #e74040;
  width: 50px;
  height: 2px;
  border: 0;
  display: flex;
  justify-content: left;
}

.practice-card-main {
  border: 1px 1px 1px;
  padding: 48px 40px;
  filter: drop-shadow(5px 5px 5px #0000006a);
  background-color: #fc724d;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.practice-first-card-main {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
}

.practice-first-card-subtitle-main {
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: 10px;
}

.practice-line-main {
  background-color: #fff;
  width: 50px;
  height: 2px;
  display: flex;
  border: 0;
  justify-content: left;
}

.mini-page {
  padding: 80px 0;
  display: flex;
  gap: 120px;
}

.mini-page-info {
  margin: auto 0;
}

.mini-page-line {
  width: 94px;
  height: 7px;
  background-color: #e74040;
  display: flex;
}

.mini-page-greet {
  color: #252b42;
  font-weight: 700;
  font-size: 45px;
  padding: 10px 0;
}

.mini-pade-subtitle {
  color: #737373;
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: 10px;
}

.mini-page-learnmore {
  color: #fc724d;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

.mini-page-arrow {
  border-top: 3px #fc724d;
  border-left: 3px #fc724d;
  transform: rotate(45deg);
}

.team-card {
  filter: drop-shadow(5px 5px 5px #0000006a);
  background-color: #fff;
  border-radius: 15px;
}

@media only screen and (max-width: 780px) {
  body {
    padding: 0 20px;
  }
  .header {
    padding: 0 20px;
  }

  .header-button,
  .header-nav {
    /* opacity: 0; */
    display: none;
  }

  .hero {
    align-items: center;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-greet {
    font-size: 14px;
  }

  .hero-subtitle {
    font-size: 18px;
  }

  .hero-greet,
  .hero-title,
  .hero-subtitle {
    text-align: center;
  }

  .intro {
    flex-direction: column;
    gap: 30px;
  }

  .practice-cards {
    flex-direction: column;
    align-items: center;
  }

  .practice-card,
  .practice-card-main {
    max-width: 300px;
  }

  .mini-page {
    flex-direction: column;
  }

  .contact-input {
    width: auto;
    min-width: 300px;
  }
}

@media only screen and (max-width: 618px) {
  .expert-container {
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
}
